.thread-table {
    width: 100%;
}

.thread-row {
    color: #fff;
    text-shadow: 0px 0px 3px #000, 0px 0px 3px #000;
    font-size: 14px;
}

.thread-row a,
.thread-row a:visited {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #fff;
}

.thread-row a:hover {
    text-decoration: none;
    color: #fff;
}

.thread-row:hover {
    background: rgba(255, 255, 255, 0.1);
}

.thread-row+.thread-row {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.thread-row-icon {
    padding-left: 10px;
    width: 20px;
}

.thread-row-title {
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}

.thread-row-author {
    /*color: #f4415f;*/
    color: rgba(255, 255, 255, 0.6);
}

.thread-row-date {
    color: rgba(255, 255, 255, 0.6);
}

.thread-row-text {
    text-align: justify;
    color: rgba(255, 255, 255, 0.8);
}
