.post-left-part {
    vertical-align: top;
}

.post-right-part {
    vertical-align: top;
}

@media (min-width: 992px) {
    .post-left-part {
        position: absolute;
        width: 250px;
    }
    .post-right-part {
        margin-left: 265px !important;
        margin-right: 15px !important;
        vertical-align: top;
        min-height: 150px !important;
    }
}

@media (max-width: 991px) {
    .post-text {
        text-align: justify;
    }
}

.post-container {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-container table {
    width: 100%;
}

.original-post {
    background: rgba(255, 255, 255, 0.05);
}

.post-date {
    color: rgba(255, 255, 255, 0.6);
}

.post-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.post-avatar-container {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.post-avatar {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 3px #000;
}

.post-author-container {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.post-author-name {
    font-size: 16px;
}

.post-author-title {}

.post-author-posts {
    color: rgba(255, 255, 255, 0.6);
}

.post-left-part-container {}

.post-mobile-date {
    text-align: right;
}

.post-container+.post-container {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#new-post-content {
    color: #000;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
}

.new-post-left-part {
    vertical-align: top;
    width: 300px;
}

.new-post-container {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 0.05);
}

.new-post-content {
    margin-top: 10px;
    font-size: 16px;
}

.new-post-avatar-container {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.new-post-avatar {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 3px #000;
}

.new-post-author-container {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.new-post-author-name {
    font-size: 16px;
}

.new-post-author-title {}

.new-post-author-posts {
    color: rgba(255, 255, 255, 0.6);
}

.new-post-container table {
    width: 100%;
}
