* {
  margin: 0px;
  padding: 0px;
}

.forum-header {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.forum-header .navbar{
  height: 30px;
}
.forum-header .row{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.forum-header .container-fluid {
  padding: 0px;
  margin: 0px;
}

.forum-header {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.forum-body {
  background: #000000;
}
