div(role='dialog')#newPost.modal.fade
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type='button', class='close',data-dismiss='modal') &times;
        h4.modal-title Create new thread
      div.modal-body
        p some blah blah here
      div.modal-footer
        button(type='button', data-dismiss='modal').btn.btn-default Close
