extends layout

block content
    include header
    
    img(src="../img/huge.jpg").img-responsive.forum-main-logo
    div.container.forum-body
        div.row.bottom-buffer
            h3 general
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 general discussion
                                div.row.forum-card-description
                                    h5 General stuff
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 announcements
                                div.row.forum-card-description
                                    h5 Announcements inside
            div.row.bottom-buffer.hidden-xs
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 News
                                div.row.forum-card-description
                                    h5 Everything tech related

        div.row.bottom-buffer
            h3 tech talk
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 C++
                                div.row.forum-card-description
                                    h5 Everything C++ related
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 C#
                                div.row.forum-card-description
                                    h5 Everything C# related
            div.row.bottom-buffer.hidden-xs
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 JavaScript
                                div.row.forum-card-description
                                    h5 Everything JavaScript related
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 HTML
                                div.row.forum-card-description
                                    h5 No programmers inside
            div.row.bottom-buffer.hidden-xs
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 Intel
                                div.row.forum-card-description
                                    h5 Intel inside
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 CSS
                                div.row.forum-card-description
                                    h5 Style me baby

        div.row.bottom-buffer
            h3 off-topic
            div.col-sm-6
                div.forum-block
                    a(href="forums/general")
                        div.row.forum-card
                            div.col-lg-2.col-xs-3.forum-card-image-container
                                img(src="../img/max.jpg").img-responsive.img-rounded.forum-card-image
                            div.col-lg-10.col-xs-9
                                div.row.forum-card-title
                                    h4 off-topic
                                div.row.forum-card-description
                                    h5 forum description goes here
    include footer
