extends layout

block content
    include header
    
    img(src="../img/huge.jpg").img-responsive.forum-main-logo

    div.container-fluid.forum-body
        div.row
            div.col-lg-2
            div.col-lg-8
                div.container-fluid
                    form(action="")
                        div.input-group
                            input(type="text" placeholder="change me later senpai ^^").form-control
                            div.input-group-btn
                                button(type="submit").btn.btn-default
                                    i.glyphicon.glyphicon-search

                h3 FORUM CATEGORY 1
                div.row.bottom-buffer
                    div.col-lg-6
                        a(href="#")
                            div.col-lg-12.forum-block
                                div.row
                                    div.col-lg-2
                                        img(src="../img/max.jpg").img-responsive.img-circle
                                    div.col-lg-10
                                        div.row
                                            h4 forum title 1
                                        div.row
                                            h5 forum description goes here
                    div.col-lg-6
                        a(href="#")
                            div.col-lg-12.forum-block
                                div.row
                                    div.col-lg-2
                                        img(src="../img/max.jpg").img-responsive.img-circle
                                    div.col-lg-10
                                        div.row
                                            h4 forum title 1
                                        div.row
                                            h5 forum description goes here
                div.row.bottom-buffer
                    div.col-lg-6
                        a(href="#")
                            div.col-lg-12.forum-block
                                div.row
                                    div.col-lg-2
                                        img(src="../img/max.jpg").img-responsive.img-circle
                                    div.col-lg-10
                                        div.row
                                            h4 forum title 1
                                        div.row
                                            h5 forum description goes here
                    div.col-lg-6
                        a(href="#")
                            div.col-lg-12.forum-block
                                div.row
                                    div.col-lg-2
                                        img(src="../img/max.jpg").img-responsive.img-circle
                                    div.col-lg-10
                                        div.row
                                            h4 forum title 1
                                        div.row
                                            h5 forum description goes here
                
                h3 FORUM CATEGORY 2
                div.row.bottom-buffer
                    div.col-lg-6
                        a(href="#")
                            div.col-lg-12.forum-block
                                div.row
                                    div.col-lg-2
                                        img(src="../img/max.jpg").img-responsive.img-circle
                                    div.col-lg-10
                                        div.row
                                            h4 forum title 1
                                        div.row
                                            h5 forum description goes here
                    div.col-lg-6
                        a(href="#")
                            div.col-lg-12.forum-block
                                div.row
                                    div.col-lg-2
                                        img(src="../img/max.jpg").img-responsive.img-circle
                                    div.col-lg-10
                                        div.row
                                            h4 forum title 1
                                        div.row
                                            h5 forum description goes here

                h3 FORUM CATEGORY 3
                div.row.bottom-buffer
                    div.col-lg-6
                        a(href="#")
                            div.col-lg-12.forum-block
                                div.row
                                    div.col-lg-2
                                        img(src="../img/max.jpg").img-responsive.img-circle
                                    div.col-lg-10
                                        div.row
                                            h4 forum title 1
                                        div.row
                                            h5 forum description goes here
                    div.col-lg-6
                        a(href="#")
                            div.col-lg-12.forum-block
                                div.row
                                    div.col-lg-2
                                        img(src="../img/max.jpg").img-responsive.img-circle
                                    div.col-lg-10
                                        div.row
                                            h4 forum title 1
                                        div.row
                                            h5 forum description goes here

            div.col-lg-2
        include footer
    
    //- nav(aria-label='Page navigation')
    //-     ul.pagination
    //-         li
    //-             a(href='#', aria-label='Previous')
    //-                 span(aria-hidden='true') «
    //-         li
    //-             a(href='#').active 1
    //-         li
    //-             a(href='#') 2
    //-         li
    //-             a(href='#') 3
    //-         li
    //-             a(href='#') 4
    //-         li
    //-             a(href='#') 5
    //-         li
    //-             a(href='#', aria-label='Next')
    //-                 span(aria-hidden='true') »

