div.container-fluid.forum-header
    nav.navbar.transparent
        div.row
            div.col-lg-1
            div.col-lg-10
                div.container-fluid
                    div.navbar-header
                        //- img(src="img/max.jpg").img-responsive.img-rounded
                        span.navbar-brand WebSiteName
                    ul.nav.navbar-nav
                        li
                            a(href="#").active Home
                        li
                            a(href="#") Link
                        li
                            a(href="#") Link
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#")
                                span.glyphicon.glyphicon-user  Sign Up
                        li
                            a(href="#")
                                span.glyphicon.glyphicon-log-in  Login            
            div.col-lg-1
        div.row
            div.col-lg-1
            div.col-lg-10
                ul.breadcrumb
                    li
                        a(href='#') Home
                    li
                        a(href='#') Library
                    li.active Data
            div.col-lg-1
