doctype html
html
  head
    title= title
    script(src='../lib/jquery/dist/jquery.js')
    script(src='../lib/bootstrap/dist/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/forum/forum_header.css')
    link(rel='stylesheet', href='/stylesheets/forum/forum_body.css')
    link(rel='stylesheet', href='/stylesheets/forum/forum_footer.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
  body
    block content
