doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../lib/bootstrap/dist/css/bootstrap.css')
    link(src='../lib/jquery/dist/jquery.js')
    link(src='../lib/bootstrap/dist/js/bootstrap.js')
  body
    block content
