extends layout

block content
    include header
    
    img(src="../img/huge.jpg").img-responsive.forum-main-logo
    div.container.forum-body
        h1 General
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017
        div.forum-thread
            a(href="#")
                div.row
                    div.col-xs-6
                        span.glyphicon.glyphicon-file.forum-thread-icon
                        span.forum-thread-title This is a forum thread
                    div.col-xs-2.forum-thread-author Xpload
                    div.col-xs-2.forum-thread-comment
                        span.glyphicon.glyphicon-comment
                        |  152
                    div.col-xs-2.forum-thread-date 26.06.2017



    include footer
