extends ../layout

block styles
    link(rel='stylesheet', href='/stylesheets/forum/forum-thread.css')
    
block content
    div.logo-parallax.logo-1-rows
        div.container.logo-text-container
            div.logo-text
                //- img(src="../img/avatar.gif").img-responsive.img-circle.thread-title-image
                | This is a forum thread

    div.container.forum-body
        div.row.thread-controls
            div.col-xs-12
                a(href="#").btn.btn-reply-thread POST REPLY

        div.container.post-container.original-post
            table
                tr
                    td.hidden-sm.hidden-xs.post-left-part
                        div.post-left-part-container
                            div.post-avatar-container
                                img(src="/img/avatar.gif").post-avatar
                            div.post-author-container
                                div.post-author-name Xpload
                                div.post-author-title User
                                div.post-author-posts 257 posts
                    td.container.right-part
                        div.row.visible-xs.visible-sm
                            div.col-xs-10.post-left-part-container
                                div.post-avatar-container
                                    img(src="/img/avatar.gif").post-avatar
                                div.post-author-container
                                    div.post-author-name Xpload
                                    div.post-author-title User
                                    div.post-author-posts 257 posts
                            div.col-xs-2
                                span.pull-right.post-date 27.06.2017
                        div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                        div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.

        div.container.post-container
            table
                tr
                    td.hidden-sm.hidden-xs.post-left-part
                        div.post-left-part-container
                            div.post-avatar-container
                                img(src="/img/avatar.gif").post-avatar
                            div.post-author-container
                                div.post-author-name Xpload
                                div.post-author-title User
                                div.post-author-posts 257 posts
                    td.container.right-part
                        div.row.visible-xs.visible-sm
                            div.col-xs-10.post-left-part-container
                                div.post-avatar-container
                                    img(src="/img/avatar.gif").post-avatar
                                div.post-author-container
                                    div.post-author-name Xpload
                                    div.post-author-title User
                                    div.post-author-posts 257 posts
                            div.col-xs-2
                                span.pull-right.post-date 27.06.2017
                        div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                        div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.

        div.container.post-container
            table
                tr
                    td.hidden-sm.hidden-xs.post-left-part
                        div.post-left-part-container
                            div.post-avatar-container
                                img(src="/img/avatar.gif").post-avatar
                            div.post-author-container
                                div.post-author-name Xpload
                                div.post-author-title User
                                div.post-author-posts 257 posts
                    td.container.right-part
                        div.row.visible-xs.visible-sm
                            div.col-xs-10.post-left-part-container
                                div.post-avatar-container
                                    img(src="/img/avatar.gif").post-avatar
                                div.post-author-container
                                    div.post-author-name Xpload
                                    div.post-author-title User
                                    div.post-author-posts 257 posts
                            div.col-xs-2
                                span.pull-right.post-date 27.06.2017
                        div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                        div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.

        div.container.post-container
            table
                tr
                    td.hidden-sm.hidden-xs.post-left-part
                        div.post-left-part-container
                            div.post-avatar-container
                                img(src="/img/avatar.gif").post-avatar
                            div.post-author-container
                                div.post-author-name Xpload
                                div.post-author-title User
                                div.post-author-posts 257 posts
                    td.container.right-part
                        div.row.visible-xs.visible-sm
                            div.col-xs-10.post-left-part-container
                                div.post-avatar-container
                                    img(src="/img/avatar.gif").post-avatar
                                div.post-author-container
                                    div.post-author-name Xpload
                                    div.post-author-title User
                                    div.post-author-posts 257 posts
                            div.col-xs-2
                                span.pull-right.post-date 27.06.2017
                        div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                        div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.

        div.container.post-container
            table
                tr
                    td.hidden-sm.hidden-xs.post-left-part
                        div.post-left-part-container
                            div.post-avatar-container
                                img(src="/img/avatar.gif").post-avatar
                            div.post-author-container
                                div.post-author-name Xpload
                                div.post-author-title User
                                div.post-author-posts 257 posts
                    td.container.right-part
                        div.row.visible-xs.visible-sm
                            div.col-xs-10.post-left-part-container
                                div.post-avatar-container
                                    img(src="/img/avatar.gif").post-avatar
                                div.post-author-container
                                    div.post-author-name Xpload
                                    div.post-author-title User
                                    div.post-author-posts 257 posts
                            div.col-xs-2
                                span.pull-right.post-date 27.06.2017
                        div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                        div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.

        div.container.post-container
            table
                tr
                    td.hidden-sm.hidden-xs.post-left-part
                        div.post-left-part-container
                            div.post-avatar-container
                                img(src="/img/avatar.gif").post-avatar
                            div.post-author-container
                                div.post-author-name Xpload
                                div.post-author-title User
                                div.post-author-posts 257 posts
                    td.container.right-part
                        div.row.visible-xs.visible-sm
                            div.col-xs-10.post-left-part-container
                                div.post-avatar-container
                                    img(src="/img/avatar.gif").post-avatar
                                div.post-author-container
                                    div.post-author-name Xpload
                                    div.post-author-title User
                                    div.post-author-posts 257 posts
                            div.col-xs-2
                                span.pull-right.post-date 27.06.2017
                        div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                        div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.

        div.container.post-container
            table
                tr
                    td.hidden-sm.hidden-xs.post-left-part
                        div.post-left-part-container
                            div.post-avatar-container
                                img(src="/img/avatar.gif").post-avatar
                            div.post-author-container
                                div.post-author-name Xpload
                                div.post-author-title User
                                div.post-author-posts 257 posts
                    td.container.right-part
                        div.row.visible-xs.visible-sm
                            div.col-xs-10.post-left-part-container
                                div.post-avatar-container
                                    img(src="/img/avatar.gif").post-avatar
                                div.post-author-container
                                    div.post-author-name Xpload
                                    div.post-author-title User
                                    div.post-author-posts 257 posts
                            div.col-xs-2
                                span.pull-right.post-date 27.06.2017
                        div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                        div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.

        div.container.post-container
            table
                tr
                    td.hidden-sm.hidden-xs.post-left-part
                        div.post-left-part-container
                            div.post-avatar-container
                                img(src="/img/avatar.gif").post-avatar
                            div.post-author-container
                                div.post-author-name Xpload
                                div.post-author-title User
                                div.post-author-posts 257 posts
                    td.container.right-part
                        div.row.visible-xs.visible-sm
                            div.col-xs-10.post-left-part-container
                                div.post-avatar-container
                                    img(src="/img/avatar.gif").post-avatar
                                div.post-author-container
                                    div.post-author-name Xpload
                                    div.post-author-title User
                                    div.post-author-posts 257 posts
                            div.col-xs-2
                                span.pull-right.post-date 27.06.2017
                        div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                        div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.

        div.row.thread-controls
            div.col-xs-12
                a(href="#").btn.btn-reply-thread.pull-right POST REPLY

        div.row.forum-pagination 
            ul.pagination
                li.page-item
                    a(href="#").page-link
                        span(aria-hidden="true") &laquo;
                        span.sr-only Previous
                li.page-item.active
                    a(href="#") 1
                li.page-item
                    a(href="#") 2
                li.page-item
                    a(href="#") 3
                li.page-item
                    a(href="#") 4
                li.page-item
                    a(href="#") 5
                li.page-item
                    a(href="#").page-link
                        span(aria-hidden="true") &raquo;
                        span.sr-only Next
