extends ../layout

block styles
    link(rel='stylesheet', href='/stylesheets/forum/forum-thread.css')

block currentPageCategory
    -var selected = 'forums';

block navigationMenu
    li
        a(href='/forums/') Forums
    li
        a(href='/forums/'+ thread.forum.internalName)= thread.forum.name
    li.active= thread.title
    
block content
    div.logo-parallax.logo-1-rows
        div.container.logo-text-container
            div.logo-text= thread.title

    div.container.forum-body
        div.row.thread-controls
            div.col-xs-12
                a(href="#post-reply").btn.btn-reply-thread POST REPLY

        div.container.post-container.original-post
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit libero dolorem dolores impedit sit sint eaque mollitia est temporibus unde, rerum repellat omnis iure nulla sunt assumenda provident dolore, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga rerum a voluptatum, optio illo enim hic, nihil rem architecto minima nostrum. Itaque voluptatum fugiat tempora natus fugit, alias quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nisi totam a, incidunt deleniti. Numquam porro voluptatibus esse repellat, repellendus! Possimus deleniti delectus unde voluptatem placeat earum excepturi et aperiam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.

        div.container.post-container
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
                span.pull-right.post-date.visible-sm.visible-xs 27.06.2017
            div.post-right-part.container-fluid
                div.row.post-date.hidden-xs.hidden-sm 27.06.2017
                div.row.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur odit harum ullam quasi dignissimos sit odio nulla delectus ipsam. Molestias optio illum, reprehenderit unde, voluptate ipsam ut odit. Veritatis, laboriosam.



        div.row &nbsp;
        div.row &nbsp;
        div.row &nbsp;
        div.row &nbsp;
        h2#post-reply Post reply
        div.container.post-container.original-post
            div.sidebar.post-left-part
                div.post-avatar-container
                    img(src="/img/avatar.gif").post-avatar
                div.post-author-container
                    div.post-author-name Xpload
                    div.post-author-title User
                    div.post-author-posts 257 posts
            div.post-right-part.container-fluid
                div.row.new-post-content
                    form
                        div.form-group
                            textarea(rows='10')#new-post-content.form-control
                        div.form-group
                            button.btn.btn-reply-thread.pull-right POST REPLY

        div.row.forum-pagination 
            ul.pagination
                li.page-item
                    a(href="#").page-link
                        span(aria-hidden="true") &laquo;
                        span.sr-only Previous
                li.page-item.active
                    a(href="#") 1
                li.page-item
                    a(href="#") 2
                li.page-item
                    a(href="#") 3
                li.page-item
                    a(href="#") 4
                li.page-item
                    a(href="#") 5
                li.page-item
                    a(href="#").page-link
                        span(aria-hidden="true") &raquo;
                        span.sr-only Next
