extends layout

block logotext
  | ERROR #{error.status}

block content
  div.container.forum-body
    center
      img(src="/img/error.png").img.img-responsive
      h1 Ooops! #{message}
      if(error.stack)
        pre #{error.stack}
