extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/error.css')

block logotext
  | ERROR #{error.status}

block content
  div.container-fluid.error-container.text-center
    div
      img(src="/img/error.png").img.img-responsive.error-image
      h1 Ooops! #{message}
    //- if(error.stack)
    //-   pre #{error.stack}
