div.container-fluid.forum-footer
  h5 ©2017 BIG TEST ICICLES, ALL RIGHTS RESERVED.
  h5 TELERIK ACADEMY TEAM PROJECT
  h5 NODEJS APPLICATIONS
  div.row &nbsp
  div.row &nbsp
  h5 For more info visit out social networks which are non existant
  h5 but have pretty looking icons <3
footer.container-fluid.social-icons.blurred
  div.col-lg-12
    ul.social-network.social-circle
      li
        a(href='#' title='Rss').icoRss
          i.fa.fa-rss
      li
        a(href='#' title='Facebook').icoFacebook
          i.fa.fa-facebook
      li
        a(href='#' title='Twitter').icoTwitter
          i.fa.fa-twitter
      li
        a(href='#' title='Google').icoGoogle
          i.fa.fa-google-plus
      li
        a(href='#' title='Linkedin').icoLinkedin
          i.fa.fa-linkedin
