//- h1= user.username
header.forum-header-container.blurred
  div.container-fluid.forum-header
    nav.row.nav-first-row
      div.col-md-1
      div.col-md-10
        //- div.navbar-header.hidden-xs
        //- img(src="img/max.jpg").img-responsive.img-rounded
        //- span.navbar-brand BIG TEST ICICLES
        block currentPageCategory
          -var selected = '';
        -var menu = { 'home': '/', 'forums': '/forums/', 'users' : '/users/', 'about' : '/about'};
        ul.nav.navbar-nav
          each val, key in menu
            li.hidden-xs
              if selected === key
                a(href=val).active= key
              else
                a(href=val)= key
          li.visible-xs.header-mobile
            button.btn.btn-large.mobile-menu-toggle-btn
              span.glyphicon.glyphicon-menu-hamburger

        ul.nav.navbar-nav.navbar-right.hidden-xs
          li.dropdown
            if isLoggedIn
              a(href="#",data-toggle="dropdown").dropdown-toggle= user.username
                span.caret
            else
              a(href="#",data-toggle="dropdown").dropdown-toggle My account
                span.caret
            ul.dropdown-menu
              if isLoggedIn
                li
                  a(href="/users/profile/" + user.username)
                    span.glyphicon.glyphicon-user
                    |Profile
                li
                  a(href="/settings/")
                    span.glyphicon.glyphicon-cog
                    |Settings
                li.divider
                li
                  a(href="/logout")
                    span.glyphicon.glyphicon-log-out
                    |Log out
              else
                li
                  a(href="/login")
                    span.glyphicon.glyphicon-log-in
                    |Log in
                li
                  a(href="/signup")
                    span.glyphicon.glyphicon-pencil
                    |Sign up

      div.col-md-1
    div.row.hidden-xs
      div.col-md-1
      div.col-md-10
        ul.breadcrumb
          li
            a(href="/")
              span.glyphicon.glyphicon-home
          block navigationMenu
          //- li
          //-     a(href='#') Forums
          //- li
          //-     a(href='#') Test
          //- li.active Active test
      div.col-md-1
    //- img(src="../img/huge.jpg").img-responsive.forum-main-logo

div.mobile-menu-hide-everything-im-not-creative
div.logo-parallax
  div.container.logo-text-container
    div.logo-text
      block logotext
