extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/home.css')

block scripts
  script(src='/js/home/newest-threads.js')

block currentPageCategory
  -var selected = 'home';

block logotext
  | BIG
  br
  | TEST
  br
  | ICICLES, BABY

block content
  div.col-md-8
    div.row
      if forums.length <= 0
        h2 Nothing important to display yet :'(
      else
        each forum in forums
          - thread = forum.thread
          - date = utils.dateFormat("dddd, MMMM DD, YYYY", thread.dateCreated)
          div.news-container
            h5.title= thread.title
            h5.forum= name
            span.info posted by 
              a(href="/users/profile/" + thread.authorName).author= thread.authorName
              |  on #{date}
            p.content!= utils.prepareThreadContent(thread.content)
            span.pull-right
              a(href="/forums/thread/" + thread._id).link Open thread
  div.col-md-4
    div.row.sidenav
