extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/home.css')

block scripts
  script(src='/js/home/newest-threads.js')

block currentPageCategory
  -var selected = 'home';

block logotext
  | BIG
  br
  | TEST
  br
  | ICICLES, BABY

block content
  div.col-md-8
    div.row
      if forums.length <= 0
        h2 Nothing important to display yet :'(
      else
        each forum in forums
          - date = new Date(forum.thread.dateCreated)
          div.news-container
            h5.title= forum.thread.title
            h5.forum= forum.name
            span.info posted by 
              a(href="/users/profile/" + forum.thread.authorName).author= forum.thread.authorName
              |  on #{date.toDateString()}
            p.content !{forum.thread.content.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br/>')}
            span.pull-right
              a(href="/forums/thread/" + forum.thread._id).link Read more
  div.col-md-4
    div.row.sidenav
