extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/home.css')

block scripts
  script(src='/js/home/newest-threads.js')

block currentPageCategory
  -var selected = 'home';

block logotext
  | BIG
  br
  | TEST
  br
  | ICICLES, BABY

block content
  div.col-md-8
    div.row
      h4.forum Announcements
      div.container-glass.news-container
        h5.title Title here
        span.info posted by 
          a(href='#') Xpload
          |  on 27.06.2017
        p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quam iusto, quaerat perspiciatis, deleniti perferendis nobis natus eius sunt distinctio quo cupiditate pariatur ab at magnam ipsum, maiores sed. Dolore.
      h4.forum Announcements
      div.container-glass.news-container
        h5.title Title here
        span.info posted by 
          a(href='#') Xpload
          |  on 27.06.2017
        p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quam iusto, quaerat perspiciatis, deleniti perferendis nobis natus eius sunt distinctio quo cupiditate pariatur ab at magnam ipsum, maiores sed. Dolore.
      h4.forum Announcements
      div.container-glass.news-container
        h5.title Title here
        span.info posted by 
          a(href='#') Xpload
          |  on 27.06.2017
        p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quam iusto, quaerat perspiciatis, deleniti perferendis nobis natus eius sunt distinctio quo cupiditate pariatur ab at magnam ipsum, maiores sed. Dolore.
  div.col-md-4
    div.row.sidenav
