extends layout

block currentPageCategory
  -var selected = 'home';

block logotext
  | BIG
  br
  | TEST
  br
  | ICICLES, BABY

block content
  div.container.forum-body
    center
      h2 this is gonna be a GLORIOUS home page
      h2 some day
      h2 promise
      h2 eventually
