each category in structure
    ul.mobile-menu
        li.mobile-menu-item.mobile-menu-subitem
            span.category= category.category
        each forum in category.forums
            li.mobile-menu-item.mobile-menu-subitem
                a(href="/forums/" + forum.internalName)= forum.name

