div.mobile-menu-container
  ul.mobile-menu
    li.mobile-menu-item
      a(href="/")
        span.glyphicon.glyphicon-home  
        | HOME
    li.mobile-menu-item
      a(href="#", data-toggle="collapse", data-target="#mobile-submenu-forum")#mobile-menu-structure-toggle
        span.glyphicon.glyphicon-th-large
        | FORUMS   
        span.caret
      div#mobile-submenu-forum.mobile-submenu.collapse
        img(src='/img/loading.gif').img.img-responsive
      li.mobile-menu-item
        a(href="/users")
          span.glyphicon.glyphicon-globe
          | USERS
      li.mobile-menu-item
        a(href="/about")
          span.glyphicon.glyphicon-book
          | ABOUT
    if isLoggedIn
      li.mobile-menu-item
        a(href="/users/profile/" + user.username)
          span.glyphicon.glyphicon-user
          | PROFILE
      li.mobile-menu-item
        a(href="/settings")
          span.glyphicon.glyphicon-cog
          | SETTINGS
      li.divider
      li.mobile-menu-item
        a(href="/logout")
          span.glyphicon.glyphicon-log-out
          | LOGOUT
    else
      li.mobile-menu-item
        a(href="/login")
          span.glyphicon.glyphicon-log-in
          | LOGIN
      li.mobile-menu-item
        a(href="/signup")
          span.glyphicon.glyphicon-pencil
          | SIGN UP

