extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/users.css')
  link(rel='stylesheet', href='/lib/animate.css/animate.min.css')
  link(rel='stylesheet', href='/stylesheets/forum/pagination.css')

block currentPageCategory
  -var selected = 'users';
  
block navigationMenu
  li.active= 'Users'

block logotext
  | Users

block content
  div.container-fluid.users-container
    each user in allUsers
        div.col-lg-4.col-md-4.col-sm-6.col-xs-12.animated.bounceIn
          a(href='/users/profile/' + user.username)
            div.userCard
              div.avatar.profilePic.pull-left
                if user.avatar.length > 3
                  img(src="/img/avatars/users/" + user.avatar).img.img-responsive
                else
                  img(src="/img/avatars/default.png").img.img-responsive
              div.profileName
                if userLogged && userLogged.username === user.username
                  h4.myUser
                    | #{user.username}
                else
                  h4
                    | #{user.username}
  div.row.forum-pagination
    div.pagination
      //- first page
      if currentPage > 3
        a(href='/users/1').page-item 1
      //- previous page
      if currentPage > 4
        span.page-item ...
      //- span.page-item ...
      //- page - 2
      if currentPage > 2
        a(href='/users/' + (currentPage - 2)).page-item= currentPage - 2
      //- page - 1
      if currentPage > 1
        a(href='/users/' + (currentPage - 1)).page-item= currentPage - 1
      //- current page
      if totalUsers > 0
        span.page-item.active= currentPage
      //- page + 1
      if totalPages > currentPage
        a(href='/users/' + (currentPage + 1)).page-item= currentPage + 1
      //- page + 2
      if totalPages > currentPage + 1
        a(href='/users/' + (currentPage + 2)).page-item= currentPage + 2
      //- next page
      if totalPages > currentPage + 3
        span.page-item ...
      //- last page
      if totalPages > currentPage + 2
        a(href='/users/' + totalPages).page-item= totalPages
