extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/users.css')

block currentPageCategory
  -var selected = 'users';
  
block navigationMenu
  li Users

block logotext
  | Users

block content
  div.container-fluid.users-container
    each user in allUsers
        div.col-lg-2.col-md-3.col-sm-6.col-xs-12
            a(href='profile/' + user.username)
                | #{user.username}
//- will make it in alphabetical order if i figure out how
