html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    min-height: 100vh;
    background-color: #0f0f0f;
}

@media (min-width: 768px) {
    body {
        background: url('/img/huge.jpg') !important;
        background-attachment: fixed !important;
        background-position: top !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}

.forum-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 3px #000;
}

.forum-header .navbar-nav>li>a {
    text-transform: uppercase;
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0px;
}

.forum-header .navbar-brand {
    color: #fff;
}

.forum-header .navbar-nav>li>a:hover,
.forum-header .navbar-nav>li>a:focus {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

.forum-header .navbar-nav>li>a.active {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 15px #ffffff, 0 0 8px #ffffff;
}

.forum-header .nav-first-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.forum-header .breadcrumb {
    background: rgba(255, 255, 255, 0);
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 0px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.forum-header .breadcrumb li {
    font-size: 14px;
    color: rgba(161, 161, 161, 1);
}

.forum-header .breadcrumb a {
    text-decoration: none;
    color: rgba(161, 161, 161, 1);
}

.forum-header .breadcrumb a:focus,
.forum-header .breadcrumb a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.forum-header .breadcrumb>.active,
.forum-header .breadcrumb>.active a {
    color: rgba(255, 255, 255, 1);
}

.forum-header .breadcrumb>li+li:before {
    color: rgba(204, 204, 204, 1);
    content: "\203A\00a0";
    padding-left: 15px;
    padding-right: 15px;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent !important;
}

.forum-header .dropdown .glyphicon {
    margin-right: 15px;
}

.logo-text-container {
    height: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    display: table;
}

.logo-text {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.header-mobile {
    text-align: right;
    padding-right: 10px;
}

.forum-body {
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 3px #000;
    min-height: 320px;
}

@media (min-width: 768px) {
    .forum-body {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.forum-body h3 {
    padding-left: 20px;
    text-transform: uppercase;
    color: #ce6363;
}

.forum-body h1,
.forum-body h2 {
    color: #fff;
}

.forum-main-logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.forum-card-image-container {
    min-width: 50px;
    max-width: 80px;
}

.forum-name {
    color: #fff;
    text-shadow: 0px 0px 3px #000;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

.thread-title-image {
    max-width: 50px;
}

.thread-controls {
    padding: 30px;
}

.thread-controls-left {
    text-align: left;
}

.thread-controls-right {
    text-align: right;
}

.container-glass {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 3px #000;
}

@media (min-width: 768px) {
    .blurred {
        background-image: url("/img/huge_blurred2.jpg") !important;
        background-attachment: fixed !important;
        background-position: top !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}

input:not([type=checkbox]):focus,
textarea:focus,
select:focus {
    border-color: rgba(126, 239, 104, 0) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0) !important;
    outline: 0 none !important;
    -webkit-appearance: none !important;
}

input:not([type=checkbox]),
select {
    border-radius: 0px !important;
    background: rgba(255, 255, 255, 0.8) !important;
    color: #000 !important;
}

.has-feedback-left input.form-control {
    padding-left: 34px;
    padding-right: 12px;
}

.has-feedback-left .form-control-feedback {
    left: 0;
}

.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px;
}

.has-feedback-left input.input-sm {
    padding-left: 30px;
}

.has-feedback-left input.input-lg {
    padding-left: 46px;
}

.btn-new-thread {
    color: #fff;
    border: 1px solid rgba(206, 99, 99, 1) !important;
    background: rgba(206, 99, 99, 0.9);
}

.btn-new-thread:hover,
.btn-new-thread:focus {
    color: #fff !important;
    border: 1px solid rgba(206, 99, 99, 1) !important;
    background: rgba(206, 99, 99, 1);
    text-shadow: 0 0 3px #fff;
}

.btn-search-thread {
    color: #000;
    border: 1px solid rgba(255, 255, 255, 1) !important;
    background: rgba(255, 255, 255, 0.9);
}

.btn-search-thread:hover,
.btn-search-thread:focus {
    color: #000 !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
    background: rgba(255, 255, 255, 1);
}

.btn-reply-thread {
    color: #fff;
    border: 1px solid rgba(244, 113, 66, 1) !important;
    background: rgba(244, 113, 66, 0.9);
}

.btn-reply-thread:hover,
.btn-reply-thread:focus {
    color: #fff !important;
    border: 1px solid rgba(244, 113, 66, 1) !important;
    background: rgba(244, 113, 66, 1);
    text-shadow: 0 0 3px #fff;
}

.btn-create-post {
    color: #fff;
    background: #bf42f4;
}

.btn-create-thread {
    color: #fff;
    border: 1px solid rgba(206, 99, 99, 1) !important;
    background: rgba(206, 99, 99, 0.9);
}

.btn-create-thread:hover,
.btn-create-thread:focus {
    color: #fff !important;
    border: 1px solid rgba(206, 99, 99, 1) !important;
    background: rgba(206, 99, 99, 1);
    text-shadow: 0 0 3px #fff;
}

.admin {
    color: #edada8;
}

#messages ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.success {
    color: #91ffa9;
}

.info {
    color: #91aaff;
}

.error {
    color: #ff5b5b;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 3px #000;
    padding: 1px;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.has-error .control-label {
    color: #fff;
}

.has-success .control-label {
    color: #fff;
}
.form-control-feedback{
    z-index: 100 !important;
}

.has-success .help-block {
    color: #66c469;
}

.has-error .help-block {
    color: #dd5858;
}
