.news-container {
    margin: 0px;
    color: #fff;
    padding: 10px;
}

.forum {
    color: rgba(206, 99, 99, 0.6);
}

.news-container .title {
    color: #fff;
    font-size: 22px;
}

.news-container .content {
    color: #fff;
    text-align: justify;
}

.news-container .info {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    padding-bottom: 20px;
    display: block;
}

.forum+.news-container {
    margin-bottom: 40px;
}

.sidenav {
    color: #fff;
    /*background: purple;*/
}

@media (min-width: 768px) {
    .sidenav {
        margin-left: 0px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.latest-thread-row,
.latest-thread-row:hover,
.latest-thread-row:visited {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color .5s;
}

.latest-thread-row:hover {
    background: rgba(255, 255, 255, 0.2);
}

.latest-thread-row+.latest-thread-row {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.latest-thread-row .title {
    font-size: 16px;
    padding-top: 10px;
}
.latest-thread-row .date {
    font-size: 12px;
}

.latest-thread-row .small {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.news-container+.news-container{
    margin-top: 60px;
}
