.news-container {
    margin: 0px;
    color: #fff;
    padding: 10px;
}

.forum {
    color: rgba(206, 99, 99, 0.6);
}

.news-container .title {
    color: #fff;
    font-size: 18px;
}

.news-container .content {
    color: #fff;
}

.news-container .info {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    padding-bottom: 20px;
    display: block;
}

.forum+.news-container {
    margin-bottom: 40px;
}

.sidenav {
    color: #fff;
    /*background: purple;*/
}

@media (min-width: 768px) {
    .sidenav {
        margin-left: 0px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
}
