.users-container {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.users-container a {
    color: rgba(255, 255, 255, 0.8);
}

.users-container a:hover, 
.users-container a:active,
.users-container a:focus{
    text-decoration: none;
    color: #fff;
}

.userCard {
    height: 100px;
    padding: 10px;
    margin: 10px;
    background: rgba(255,255,255, 0.1);
    border: 1px solid rgba(255,255,255, 0.1);
    border-radius: 3px;
    overflow: hidden;
}

.profilePic {
    width: 80px;
    height: 80px;
}

.userCard h4 {
    margin-top: 28px;
}

.userCard:hover, 
.userCard:active,
.userCard:focus {
    background: rgba(255,255,255, 0.2);
}

.myUser {
    color: #f44242;
}
