extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/user/login.css')

block navigationMenu
  li Users
  li.active Log in

block logotext
  | Log in

block content
  center
    form(action="/login", method="POST").form-login
      != messages()
      div.form-group
        label(for="login-username")
        input(type="username", placeholder = "Username", required, autofocus, name="username")#login-username.form-control
        label(for="login-password")
        input(type="password", placeholder = "Password", required, name="password")#login-password.form-control
        div.checkbox
          label
            input(type="checkbox", checked, name="rememberme", value="rememberme")
            |  Remember me
        button(type="submit").btn.btn-info.pull-right Login
