extends layout

block content
    div.logo-parallax.logo-1-rows
        div.container.logo-text-container
            div.logo-text ERROR #{error.status}
    div.container.forum-body
        h1= message
        pre #{error.stack}
