extends layout

block content
    div.logo-parallax.logo-1-rows
        div.container.logo-text-container
            div.logo-text= message
    div.container.forum-body
      h3= error.status
      pre #{error.stack}
