extends layout

block content
    div.logo-parallax.logo-3-rows
        div.container.logo-text-container
            div.logo-text
                | BIG
                br
                | TEST
                br
                | ICICLES, BABY
    div.container.forum-body
      h2 this is gonna be an awesome home page
      h2 some day
      h2 promise
