extends ../layout

block navigationMenu
    li Users
    li.active Log in

block content
    div.logo-parallax.logo-1-rows
        div.container.logo-text-container
            div.logo-text Log in
    div.container.forum-body
      center
        h2 log in page
