html {
    height: 100vh;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: #0f0f0f;
    height: 100vh;
    min-height: 100vh;
}

@media (min-width: 768px) {
    body {
        background: url('/img/huge.jpg') !important;
        background-attachment: fixed !important;
        background-position: top !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}

.forum-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 3px #000;
}

.forum-header .navbar-nav>li>a {
    text-transform: uppercase;
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0px;
}

.forum-header .navbar-brand {
    color: #fff;
}

.forum-header .navbar-nav>li>a:hover,
.forum-header .navbar-nav>li>a:focus {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

.forum-header .navbar-nav>li>a.active {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 15px #ffffff, 0 0 8px #ffffff;
}

.forum-header .nav-first-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.forum-header .breadcrumb {
    background: rgba(255, 255, 255, 0);
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 0px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.forum-header .breadcrumb li {
    font-size: 14px;
    color: rgba(161, 161, 161, 1);
}

.forum-header .breadcrumb a {
    text-decoration: none;
    color: rgba(161, 161, 161, 1);
}

.forum-header .breadcrumb a:focus,
.forum-header .breadcrumb a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.forum-header .breadcrumb>.active,
.forum-header .breadcrumb>.active a {
    color: rgba(255, 255, 255, 1);
}

.forum-header .breadcrumb>li+li:before {
    color: rgba(204, 204, 204, 1);
    content: "\203A\00a0";
    padding-left: 15px;
    padding-right: 15px;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent !important;
}

.forum-header .dropdown .glyphicon {
    margin-right: 15px;
}

.logo-text-container {
    height: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    display: table;
}

.logo-text {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.header-mobile {
    text-align: right;
    padding-right: 10px;
}
