#new-thread-name,
#new-thread-name:focus {
    outline: none !important;
    background: rgba(255, 255, 255, 0) !important;
    border: 0px;
    color: #fff !important;
    font-size: 18px;
    padding-left: 40px;
    width: 100%;
}

#new-thread-content {
    overflow: hidden;
    min-height: 200px;
    font-size: 16px;
    color: #000;
    background: rgba(255, 255, 255, 0.8);
}

.thread-left-part {
    vertical-align: top;
}

.thread-right-part {
    vertical-align: top;
}

@media (min-width: 992px) {
    .thread-left-part {
        position: absolute;
        width: 250px;
    }
    .thread-right-part {
        margin-left: 265px !important;
        margin-right: 0px !important;
        vertical-align: top;
        min-height: 150px !important;
    }
}

@media (max-width: 991px) {
    .thread-text {
        text-align: justify;
    }
}

.thread-container {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.thread-container table {
    width: 100%;
}

.thread-date {
    color: rgba(255, 255, 255, 0.6);
}

.thread-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    word-wrap: break-word;
}

.thread-avatar {
    width: 80px;
    height: 80px;
}

.thread-author-container {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.thread-author-name {
    font-size: 16px;
}

.thread-author-posts {
    color: rgba(255, 255, 255, 0.6);
}

.thread-mobile-date {
    text-align: right;
}

.thread-container+.thread-container {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.thread-title {
    word-wrap: break-word;
}
