.post-left-part {
    vertical-align: top;
}

.post-right-part {
    vertical-align: top;
}

@media (min-width: 992px) {
    .post-left-part {
        position: absolute;
        width: 250px;
    }
    .post-right-part {
        margin-left: 265px !important;
        margin-right: 0px !important;
        vertical-align: top;
        min-height: 150px !important;
    }
}

@media (max-width: 991px) {
    .post-text {
        text-align: justify;
    }
}

.post-container {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-container table {
    width: 100%;
}

.original-post {
    background: rgba(255, 255, 255, 0.05);
}

.post-date {
    color: rgba(255, 255, 255, 0.6);
}

.post-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    word-wrap: break-word;
}

.post-avatar {
    width: 80px;
    height: 80px;
}

.post-author-container {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.post-author-name,
.post-author-name:visited  {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

a.post-author-name:hover,
a.post-author-name:focus{
    color: #ddd;
    text-decoration: none;
}

.post-author-title {
    font-size: 14px;
}

.post-author-posts {
    color: rgba(255, 255, 255, 0.6);
}

.post-mobile-date {
    text-align: right;
}

.post-container+.post-container {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.thread-title {
    word-wrap: break-word;
}
#new-post-content {
    overflow: hidden;
    min-height: 200px;
    color: #000;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
}
