.post-left-part {
    vertical-align: top;
}

.post-right-part {
    vertical-align: top;
}

@media (min-width: 992px) {
    .post-left-part {
        position: absolute;
        width: 250px;
    }
    .post-right-part {
        margin-left: 265px !important;
        margin-right: 0px !important;
        vertical-align: top;
        min-height: 150px !important;
    }
    .post-text {
        min-height: 100px;
    }
}

@media (max-width: 991px) {
    .post-text {
        text-align: justify;
    }
}

.post-container {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-container table {
    width: 100%;
}

.original-post {
    background: rgba(255, 255, 255, 0.05);
}

.post-date {
    color: rgba(255, 255, 255, 0.6);
}

.post-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
}

.post-avatar {
    width: 80px;
    height: 80px;
}

.post-author-container {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.post-author-name,
.post-author-name:visited {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

a.post-author-name:hover,
a.post-author-name:focus {
    color: #ddd;
    text-decoration: none;
}

.post-author-title {
    font-size: 14px;
}

.post-author-posts {
    color: rgba(255, 255, 255, 0.6);
}

.post-mobile-date {
    text-align: right;
}

.post-container+.post-container {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.thread-title {
    word-wrap: break-word;
    word-break: break-all;
}

#new-post-content {
    overflow: hidden;
    min-height: 200px;
    word-break: break-all;
    color: #000;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    word-wrap: break-word;
    word-break: break-all;
}

.edit-content textarea {
    overflow: hidden;
    min-height: 85px;
    color: #fff;
    font-size: 16px;
    border: 0px;
    background: rgba(255, 255, 255, 0.03);
    padding: 0px;
    word-wrap: break-word;
    word-break: break-all;
}

.btn-ok {
    color: greenyellow;
}

.btn-ok:hover {
    color: green;
}

.btn-ok.disabled {
    display: none;
}

.btn-cancel {
    color: red;
}

.btn-cancel:hover {
    color: darkred;
}

.edit-content .btn {
    background: transparent;
    margin: 0px !important;
    font-size: 24px;
    padding: 0px;
}

.edit-btn,
.edit-btn:hover {
    text-decoration: none;
    cursor: pointer;
}

#shadow {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: block;
}

.edited-annotation {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
}
