extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/forum/forum-all-forums.css')

block currentPageCategory
  -var selected = 'forums';

block navigationMenu
  li.active Forums

block logotext
  | BIG
  br
  | TEST
  br
  | ICICLES, BABY

block content
  each category in categories
    if category.forums.length > 0
      div.row
        h3= category.name
        each forum in category.forums
          div.col-sm-6
            div.forum-card-container
              a(href="/forums/" + forum.internalName)
                div.row.forum-card
                  div.col-lg-2.col-xs-3.forum-card-image-container
                    img(src="../img/" + forum.image).img-responsive.img-rounded.forum-card-image
                  div.col-lg-10.col-xs-9.forum-card-text-container
                    div.row.forum-card-title
                      h4= forum.name
                    div.row.forum-card-description
                      h5= forum.description
