.forum-body input.form-control {
  border: none !important;
  background: transparent !important;
  border-bottom: 1px solid #fff !important;
  outline: none !important;
  color: #fff !important;
  max-height: 20px !important;
  padding: 0 !important;
}
