 /* @media (min-width: 768px) {
    .form-signup {
        max-width: 600px;
    }
}  */

 .form-signup label {
     color: #fff;
 }

 @media (min-width: 768px) {
     .form-signup .form-group {
         text-align: left;
     }
 }

 .form-signup {
     padding-top: 100px;
     padding-bottom: 100px;
 }

 #avatar-preview {
     margin-top: 20px;
     margin-bottom: 20px;
     width: 200px;
     height: 200px;
     /* background: url('/img/avatars/default.png');
    background-repeat: no-repeat;
    background-size: contain; */
 }

 #avatar .btn {
     border-radius: 0px;
 }
